* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

button {
    padding: 1rem 2rem;
    width: 120px;
    cursor: cursor;
    display: flex;
    justify-content: right;
}
